@charset "UTF-8";
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word; }

body {
  background-color: #fff;
  color: #444466;
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'HiraKakuProN-W3', "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic", sans-serif;
  font-feature-settings: "palt";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  width: 100%;
  overflow: auto;
  overflow-x: hidden; }
  @media (min-width: 769px) {
    body {
      font-size: 1.3333333333vw; } }
  @media (max-width: 768px) {
    body {
      font-size: 2.1333333333vw; } }
  body a {
    color: #444466; }
  body img {
    line-height: 0;
    vertical-align: bottom; }

a,
a:focus,
a:hover {
  outline: none; }

.wrap {
  width: 100%;
  overflow: hidden; }
  .wrap img {
    width: 100%;
    height: auto; }

.serif {
  font-family: 'Noto Serif JP', serif; }

.svgBox img[src$=".svg"] {
  width: 100%; }

@media (max-width: 768px) {
  .pc_only {
    display: none; }

  .sp_only {
    display: inline; }

  .pc_none {
    display: block; }

  .sp_none {
    display: none; } }
@media (min-width: 769px) {
  .pc_only {
    display: inline; }

  .sp_only {
    display: none; }

  .pc_none {
    display: none; }

  .sp_none {
    display: block; } }
#page {
  position: relative;
  z-index: 1; }
  @media (min-width: 769px) {
    #page {
      width: 100%; } }

.inner {
  position: relative; }
  @media (min-width: 769px) {
    .inner {
      margin: 0 auto; } }

section {
  position: relative; }

/* HEADER
--------------------- */
.circle_wrap {
  position: fixed;
  top: -4.1666666667vw;
  right: -4.1666666667vw;
  width: 16.6666666667vw;
  pointer-events: none;
  z-index: 998; }
  @media (max-width: 768px) {
    .circle_wrap {
      top: -11.71875vw;
      right: -11.71875vw;
      width: 36.4583333333vw; } }
  .circle_wrap .circle {
    animation: 16s linear infinite rotation1; }

@keyframes rotation1 {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
/* =================================
  HEADER
================================= */
.header_logo {
  position: fixed;
  top: 2.0833333333vw;
  left: 5.2083333333vw;
  width: 32.1354166667vw;
  z-index: 996; }
  @media (max-width: 768px) {
    .header_logo {
      width: 60.6770833333vw;
      top: 3.6458333333vw;
      left: 3.90625vw; } }

#header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999; }
  @media (max-width: 768px) {
    #header {
      width: 100%;
      height: 0; } }

/* =========================================== */
/* menu */
/* =========================================== */
#btn-menu {
  position: absolute;
  top: 2.96875vw;
  right: 2.7083333333vw;
  width: 3.90625vw;
  height: 3.0208333333vw;
  padding: 0;
  overflow: hidden;
  cursor: pointer; }
  @media (max-width: 768px) {
    #btn-menu {
      top: 3.90625vw;
      right: 3.515625vw;
      width: 9.1145833333vw;
      height: 9.375vw; } }

#menu .menu_logo {
  float: left;
  position: relative;
  width: 37%;
  height: 100%;
  background: url("/img/common/menu_bg.jpg") no-repeat left top;
  background-size: 100% 100%; }
  @media (max-width: 768px) {
    #menu .menu_logo {
      width: 23%; } }
  #menu .menu_logo .logo {
    position: absolute;
    width: 247px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(50%, 50%, 0);
    transform: translate3d(-50%, -50%, 0); }
    @media (max-width: 768px) {
      #menu .menu_logo .logo {
        display: none; } }

.menu-trigger,
.menu-trigger p.menu-btn_s span {
  display: inline-block;
  box-sizing: border-box; }

.menu-trigger {
  position: relative;
  width: 3.90625vw;
  height: 3.0208333333vw; }
  @media (max-width: 768px) {
    .menu-trigger {
      top: 0;
      left: 0;
      width: 9.1145833333vw;
      height: 9.1145833333vw; } }

.menu-trigger p.menu-btn_s {
  position: relative;
  left: 0.2604166667vw;
  width: 3.3854166667vw;
  height: 3.0208333333vw; }
  @media (max-width: 768px) {
    .menu-trigger p.menu-btn_s {
      left: 0.6510416667vw;
      width: 8.59375vw;
      height: 9.1145833333vw; } }

.menu-trigger p.menu-btn_s span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  box-sizing: content-box;
  background-color: #616e7c; }
  @media (max-width: 768px) {
    .menu-trigger p.menu-btn_s span {
      height: 2px; } }

#menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 23.6979166667vw;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  z-index: 997;
  display: none; }
  @media (max-width: 768px) {
    #menu {
      width: 100%; } }

#menu .menu_s {
  position: absolute;
  top: 0;
  right: 0;
  width: 23.6979166667vw;
  height: 100%;
  right: -100%; }
  @media (max-width: 768px) {
    #menu .menu_s {
      width: 100%; } }

#menu .menu_bg {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#menu .menu_inner {
  position: absolute;
  background: rgba(255, 255, 255, 0.95);
  top: 0;
  right: 0;
  width: 23.6979166667vw;
  height: 100%; }
  @media (max-width: 768px) {
    #menu .menu_inner {
      width: 100%; } }

#menu .menu_list {
  position: relative;
  width: 15.1041666667vw;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin-left: 3.1770833333vw; }
  @media (max-width: 768px) {
    #menu .menu_list {
      margin-left: auto;
      margin-right: auto;
      width: 49.4791666667vw; } }

#menu .menu_btn_wrap {
  position: absolute;
  left: 0;
  width: 100%; }
  @media (min-width: 769px) {
    #menu .menu_btn_wrap {
      top: 50%;
      webkit-transform: translate3d(0%, -50%, 0);
      transform: translate3d(0%, -50%, 0); } }
  @media (max-width: 768px) {
    #menu .menu_btn_wrap {
      top: 48.4%;
      webkit-transform: translate3d(0%, -50%, 0);
      transform: translate3d(0%, -50%, 0); } }

#menu .menu_list .btn {
  text-align: left;
  margin-top: 1.71875vw; }
  @media (max-width: 768px) {
    #menu .menu_list .btn {
      margin-top: 5.7291666667vw; } }
  #menu .menu_list .btn.btn1 {
    margin-top: 0; }
    @media (max-width: 768px) {
      #menu .menu_list .btn.btn1 {
        margin-top: 0; } }
  #menu .menu_list .btn a {
    display: block;
    position: relative;
    width: 100%;
    height: 2.5vw; }
    @media (max-width: 768px) {
      #menu .menu_list .btn a {
        height: 8.3333333333vw;
        text-align: center; } }
    #menu .menu_list .btn a .txt {
      margin-left: 0.9635416667vw; }
      @media (max-width: 768px) {
        #menu .menu_list .btn a .txt {
          margin-left: 0;
          display: inline-block; } }
      #menu .menu_list .btn a .txt.txt1 {
        width: 13.0729166667vw; }
        @media (max-width: 768px) {
          #menu .menu_list .btn a .txt.txt1 {
            width: 45.8333333333vw; } }
      #menu .menu_list .btn a .txt.txt2 {
        width: 5.15625vw; }
        @media (max-width: 768px) {
          #menu .menu_list .btn a .txt.txt2 {
            width: 18.0989583333vw; } }
      #menu .menu_list .btn a .txt.txt3 {
        width: 11.3020833333vw; }
        @media (max-width: 768px) {
          #menu .menu_list .btn a .txt.txt3 {
            width: 39.5833333333vw; } }
      #menu .menu_list .btn a .txt.txt4 {
        width: 8.6197916667vw; }
        @media (max-width: 768px) {
          #menu .menu_list .btn a .txt.txt4 {
            width: 30.2083333333vw; } }
      #menu .menu_list .btn a .txt.txt5 {
        width: 9.765625vw; }
        @media (max-width: 768px) {
          #menu .menu_list .btn a .txt.txt5 {
            width: 34.2447916667vw; } }
      #menu .menu_list .btn a .txt.txt6 {
        width: 5.3385416667vw; }
        @media (max-width: 768px) {
          #menu .menu_list .btn a .txt.txt6 {
            width: 18.75vw; } }
      #menu .menu_list .btn a .txt.txt7 {
        width: 10.9375vw; }
        @media (max-width: 768px) {
          #menu .menu_list .btn a .txt.txt7 {
            width: 38.28125vw; } }
      #menu .menu_list .btn a .txt img[src$=".svg"] {
        vertical-align: top; }
    #menu .menu_list .btn a .ov {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      overflow: hidden; }
      @media (max-width: 768px) {
        #menu .menu_list .btn a .ov {
          height: 0.2604166667vw; } }
      #menu .menu_list .btn a .ov .boo {
        position: absolute;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(left, rgba(68, 68, 102, 0) 0%, #444466 15%, #444466 85%, rgba(68, 68, 102, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(68, 68, 102, 0) 0%, #444466 15%, #444466 85%, rgba(68, 68, 102, 0) 100%);
        background: linear-gradient(to right, rgba(68, 68, 102, 0) 0%, #444466 15%, #444466 85%, rgba(68, 68, 102, 0) 100%);
        left: -100%;
        -webkit-transition: left 0.3s cubic-bezier(0.25, 1, 0.5, 1);
        transition: left 0.3s cubic-bezier(0.25, 1, 0.5, 1); }
    #menu .menu_list .btn a.active {
      cursor: default; }
      #menu .menu_list .btn a.active .ov .boo {
        left: 0; }
    @media (min-width: 769px) {
      #menu .menu_list .btn a:not(.active):hover .ov .boo {
        -webkit-transition: left 0.4s cubic-bezier(0.25, 1, 0.5, 1);
        transition: left 0.4s cubic-bezier(0.25, 1, 0.5, 1);
        left: 0; } }

#menu .menu_list .btn_sns {
  margin-left: 0.9375vw;
  margin-top: 2.5vw;
  width: 2.8385416667vw; }
  @media (max-width: 768px) {
    #menu .menu_list .btn_sns {
      margin: 9.1145833333vw auto 0;
      width: 11.71875vw; } }

.wrap.fixed {
  position: fixed;
  width: 100%;
  height: 100%; }

.fix-sns-btn {
  box-shadow: 0 0 15px 0 rgba(68, 68, 102, 0.2);
  width: 80px;
  line-height: 0;
  position: fixed;
  left: 0;
  bottom: 100px;
  z-index: 10; }
  @media (min-width: 769px) and (max-width: 1200px) {
    .fix-sns-btn {
      box-shadow: 0 0 1.25vw 0 rgba(68, 68, 102, 0.2);
      width: 6.6666666667vw;
      bottom: 8.3333333333vw; } }
  .fix-sns-btn ul li a {
    display: block; }
    @media (min-width: 769px) {
      .fix-sns-btn ul li a {
        transition: .2s; }
        .fix-sns-btn ul li a:hover {
          opacity: 0.8; } }

/* FOOTER
--------------------- */
footer {
  border-top: 0.1041666667vw solid #e0e5ea;
  font-family: "M PLUS 1p", serif;
  background: #eef2f6;
  position: relative;
  z-index: 2; }
  @media (min-width: 769px) {
    footer {
      font-size: 1.6rem; }
      footer a {
        transition: .2s; }
        footer a:hover {
          opacity: 0.8; } }
  @media (min-width: 769px) and (max-width: 1200px) {
    footer {
      font-size: 1.3333333333vw; } }
  footer .foot-ui {
    background: #fff;
    position: relative; }
    footer .foot-ui .foot-ui-content {
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      @media (min-width: 769px) {
        footer .foot-ui .foot-ui-content {
          width: 1200px;
          padding: 25px 30px 20px; }
          footer .foot-ui .foot-ui-content .foot-logo p {
            display: inline-block; }
            footer .foot-ui .foot-ui-content .foot-logo p:not(:first-child) {
              margin-left: 30px; }
          footer .foot-ui .foot-ui-content .foot-sns {
            text-align: right;
            padding: 10px 0; }
            footer .foot-ui .foot-ui-content .foot-sns li {
              height: 56px;
              display: inline-block;
              margin-right: 15px; }
              footer .foot-ui .foot-ui-content .foot-sns li img {
                height: 100%;
                max-height: 100%;
                width: auto; } }
      @media (min-width: 769px) and (max-width: 1350px) {
        footer .foot-ui .foot-ui-content {
          width: 1040px; } }
      @media (min-width: 769px) and (max-width: 1200px) {
        footer .foot-ui .foot-ui-content {
          width: 86.6666666667vw;
          padding: 2.0833333333vw 2.5vw 1.6666666667vw; }
          footer .foot-ui .foot-ui-content .foot-logo p {
            display: inline-block; }
            footer .foot-ui .foot-ui-content .foot-logo p:not(:first-child) {
              margin-left: 2.5vw; }
            footer .foot-ui .foot-ui-content .foot-logo p:nth-child(1) {
              width: 9.3333333333vw; }
            footer .foot-ui .foot-ui-content .foot-logo p:nth-child(2) {
              width: 14.4166666667vw; }
            footer .foot-ui .foot-ui-content .foot-logo p:nth-child(3) {
              width: 13.6666666667vw; }
          footer .foot-ui .foot-ui-content .foot-sns {
            text-align: right;
            padding: 0.8333333333vw 0; }
            footer .foot-ui .foot-ui-content .foot-sns li {
              height: 4.6666666667vw;
              display: inline-block;
              margin-right: 1.25vw; }
              footer .foot-ui .foot-ui-content .foot-sns li img {
                height: 100%;
                max-height: 100%;
                width: auto; } }
      @media (max-width: 768px) {
        footer .foot-ui .foot-ui-content {
          font-size: 2.1333333333vw;
          width: 100%;
          padding: 2.4vw 5.3333333333vw 1.3333333333vw; }
          footer .foot-ui .foot-ui-content .foot-logo p {
            display: inline-block; }
            footer .foot-ui .foot-ui-content .foot-logo p:not(:first-child) {
              margin-left: 3.3333333333vw; }
            footer .foot-ui .foot-ui-content .foot-logo p:nth-child(1) {
              width: 14.9333333333vw; }
            footer .foot-ui .foot-ui-content .foot-logo p:nth-child(2) {
              width: 23.0666666667vw; }
            footer .foot-ui .foot-ui-content .foot-logo p:nth-child(3) {
              width: 21.8666666667vw; }
          footer .foot-ui .foot-ui-content .foot-sns {
            display: flex;
            position: absolute;
            left: 5.3333333333vw;
            bottom: -16vw; }
            footer .foot-ui .foot-ui-content .foot-sns li {
              height: 11.2vw;
              display: inline-block;
              margin-right: 0; }
              footer .foot-ui .foot-ui-content .foot-sns li img {
                height: 100%;
                max-height: 100%;
                width: auto; } }
  footer .footer {
    margin: 0 auto; }
    footer .footer .foot-common-link a {
      text-decoration: underline;
      display: inline-block; }
    footer .footer .copyright {
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.1rem;
      line-height: 24px;
      margin: 20px 0; }
      footer .footer .copyright img {
        width: 90px;
        vertical-align: middle; }
    @media (min-width: 769px) {
      footer .footer {
        width: 1200px;
        padding: 185px 30px 45px; }
        footer .footer .foot-common-link a {
          margin-right: 15px; }
        footer .footer .copyright {
          letter-spacing: 0.1;
          line-height: 24px;
          margin: 20px 0; } }
    @media (min-width: 769px) and (max-width: 1350px) {
      footer .footer {
        width: 1050px;
        padding: 185px 0px 45px 30px; } }
    @media (min-width: 769px) and (max-width: 1200px) {
      footer .footer {
        width: 88.3333333333vw;
        padding: 15.4166666667vw 0vw 3.75vw 3.3333333333vw; }
        footer .footer .foot-common-link a {
          margin-right: 1.25vw; }
        footer .footer .copyright {
          line-height: 2vw;
          margin: 1.6666666667vw 0; }
          footer .footer .copyright img {
            width: 7.5vw; } }
    @media (max-width: 768px) {
      footer .footer {
        width: 100%;
        padding: 20vw 5.3333333333vw 4vw; }
        footer .footer .foot-common-link {
          text-align: left; }
          footer .footer .foot-common-link a {
            width: 40%;
            font-size: 2.6666666667vw;
            margin: 0 0 2vw; }
        footer .footer .copyright {
          letter-spacing: -0.05rem;
          line-height: 3.2vw;
          margin: 2.6666666667vw 0; }
          footer .footer .copyright img {
            width: 12vw; } }

#mv-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0; }
  #mv-video-container .mv-video {
    position: absolute; }
    #mv-video-container .mv-video video {
      width: 100%; }

/* PARALLAX
--------------------- */
.parallax_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; }
  .parallax_wrap .parallax_txt {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 200%; }
    .parallax_wrap .parallax_txt .p_inner {
      width: 100%;
      height: 100%; }
      @media (max-width: 768px) {
        .parallax_wrap .parallax_txt .p_inner {
          display: none; } }
      .parallax_wrap .parallax_txt .p_inner .p_inner_s {
        position: absolute;
        width: 8.59375vw; }
        @media (max-width: 768px) {
          .parallax_wrap .parallax_txt .p_inner .p_inner_s {
            width: 26.0416666667vw; } }
        .parallax_wrap .parallax_txt .p_inner .p_inner_s.p_inner_s1 {
          top: 36.4583333333vw;
          left: 5.2083333333vw; }
          @media (max-width: 768px) {
            .parallax_wrap .parallax_txt .p_inner .p_inner_s.p_inner_s1 {
              top: 156.25vw;
              left: -10.4166666667vw; } }
        .parallax_wrap .parallax_txt .p_inner .p_inner_s.p_inner_s2 {
          top: 101.5625vw;
          right: 5.2083333333vw; }
          @media (max-width: 768px) {
            .parallax_wrap .parallax_txt .p_inner .p_inner_s.p_inner_s2 {
              top: 312.5vw;
              right: -10.4166666667vw; } }
        .parallax_wrap .parallax_txt .p_inner .p_inner_s.p_inner_s3 {
          top: 166.6666666667vw;
          left: 5.2083333333vw; }
          @media (max-width: 768px) {
            .parallax_wrap .parallax_txt .p_inner .p_inner_s.p_inner_s3 {
              top: 468.75vw;
              left: -10.4166666667vw; } }

body#top .parallax_wrap .parallax_txt .p_inner .p_inner_s.p_inner_s1 {
  top: 36.4583333333vw;
  left: 5.2083333333vw; }
  @media (max-width: 768px) {
    body#top .parallax_wrap .parallax_txt .p_inner .p_inner_s.p_inner_s1 {
      top: 156.25vw;
      left: -10.4166666667vw; } }
body#top .parallax_wrap .parallax_txt .p_inner .p_inner_s.p_inner_s2 {
  top: 101.5625vw;
  right: 5.2083333333vw; }
  @media (max-width: 768px) {
    body#top .parallax_wrap .parallax_txt .p_inner .p_inner_s.p_inner_s2 {
      top: 312.5vw;
      right: -10.4166666667vw; } }
body#top .parallax_wrap .parallax_txt .p_inner .p_inner_s.p_inner_s3 {
  top: 166.6666666667vw;
  left: 5.2083333333vw; }
  @media (max-width: 768px) {
    body#top .parallax_wrap .parallax_txt .p_inner .p_inner_s.p_inner_s3 {
      top: 468.75vw;
      left: -10.4166666667vw; } }

#fade {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000; }

@media (min-width: 769px) {
  .btn-hover {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .btn-hover:hover {
      opacity: 0.7; } }

/************************************
    fadein
************************************/
.fadein {
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: opacity 1s linear, transform 0.8s ease-out;
  transition: opacity 1s linear, transform 0.8s ease-out;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }
  @media (max-width: 768px) {
    .fadein {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
      -webkit-transition: opacity 1s linear, transform 0.6s ease-out;
      transition: opacity 1s linear, transform 0.6s ease-out;
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s; } }
