body {
    background-color: #d5dce4;
    color: #444466;
    font-family: "M PLUS 1p", serif;
    font-feature-settings: "palt";
    line-height: 1.5;
}

@media screen and (min-width: 751px) {
    body {
        width: 100%;
        min-width: 1200px;
        font-size: 16px;
    }

    body a {
        transition: .2s;
    }

    body a:hover {
        opacity: 0.8;
    }
}

@media screen and (max-width: 750px) {
    body {
        width: 750px;
        overflow-x: hidden;
        font-size: 1.6rem;
    }
}

body a {
    color: #444466;
}

body img {
    line-height: 0;
    vertical-align: bottom;
}

@media screen and (min-width: 751px) {
    .pc {
        display: block;
    }
}

@media screen and (max-width: 750px) {
    .pc {
        display: none;
    }
}

@media screen and (min-width: 751px) {
    .sp {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .sp {
        display: block;
    }
}

#page {
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 751px) {
    #page {
        width: 100%;
        min-width: 1200px;
    }
}

.inner {
    position: relative;
}

@media screen and (min-width: 751px) {
    .inner {
        margin: 0 auto;
    }
}

section {
    position: relative;
}

@media screen and (max-width: 750px) {
    section {
        margin: -130px 0 0;
    }
}

/* HEADER
--------------------- */
header {
    width: 100%;
    position: relative;
    top: 0;
    z-index: 10;
}

header #global-navi h1 {
    line-height: 0;
}

header #global-navi nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

@media screen and (max-width: 750px) {
    header {
        height: 130px;
    }

    header #global-navi {
        height: 130px;
    }

    header #global-navi #btn-navi {
        width: 70px;
        height: 50px;
        text-align: center;
        line-height: 0;
        display: block;
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 40px;
        z-index: 2;
    }

    header #global-navi #btn-navi span {
        background: #444466;
        width: 70px;
        height: 6px;
        position: absolute;
        left: 0;
        transition: all 330ms;
    }

    header #global-navi #btn-navi span:nth-child(1) {
        top: 0;
    }

    header #global-navi #btn-navi span:nth-child(2) {
        top: 22px;
    }

    header #global-navi #btn-navi span:nth-child(3) {
        top: 44px;
    }

    header #global-navi nav {
        background: #00ffdd;
        width: 100%;
        padding: 0 0 30px;
        position: absolute;
        top: 0;
        right: -100%;
        box-sizing: border-box;
        transition: transform .3s linear 0s;
    }

    header #global-navi nav h1 {
        width: 70%;
        padding: 110px 0 0;
        margin: 0 auto;
    }

    header #global-navi nav h1 img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    header #global-navi nav .global-navi-menu {
        width: 100%;
        padding: 40px 0 30px;
    }

    header #global-navi nav .global-navi-menu li {
        font-size: 60px;
        text-align: center;
        line-height: 1;
        padding: 20px 0;
    }

    header #global-navi nav .nav-sns-btn {
        text-align: center;
        margin: 40px 0 0;
    }

    header #global-navi nav .nav-sns-btn p {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 40px;
    }

    header #global-navi nav .nav-sns-btn ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 40px 0 0;
    }

    header #global-navi nav .nav-sns-btn ul li {
        margin: 0 25px;
    }

    header #global-navi.open #btn-navi span {
        width: 70px;
    }

    header #global-navi.open #btn-navi span:nth-child(1) {
        transform: translate(0px, 20px) rotate(-45deg);
        top: 0;
    }

    header #global-navi.open #btn-navi span:nth-child(2) {
        opacity: 0;
    }

    header #global-navi.open #btn-navi span:nth-child(3) {
        transform: translate(0px, -7px) rotate(-135deg);
        top: 26px;
    }

    header #global-navi.open nav {
        transform: translate(-100%);
    }
}

@media screen and (min-width: 751px) {
    header {
        background-color: #fff;
        height: 76px;
    }

    header #global-navi {
        max-width: 1600px;
        min-width: 1200px;
        height: 76px;
        padding: 0 20px 0 15px;
        margin: 0 auto;
        overflow: hidden;
        clear: both;
    }

    header #global-navi h1 {
        width: 318px;
        position: absolute;
        top: 12px;
    }

    header #global-navi h1 img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    header #global-navi nav {
        padding: 10px 0;
        text-align: right;
    }

    header #global-navi nav .global-navi-menu {
        font-size: 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    header #global-navi nav .global-navi-menu li:not(:first-child) {
        margin-left: 22px;
    }

    header #global-navi nav .global-navi-menu li a {
        font-size: 21px;
        line-height: 56px;
        display: block;
    }

    header #global-navi nav .global-navi-menu li a:hover {
        color: #ff55aa;
        opacity: 1;
    }
}

#news header #global-navi nav ul li.navi-01 a,
#story header #global-navi nav ul li.navi-02 a,
#character header #global-navi nav ul li.navi-03 a,
#sysrem header #global-navi nav ul li.navi-04 a,
#music header #global-navi nav ul li.navi-05 a,
#special header #global-navi nav ul li.navi-06 a,
#faq header #global-navi nav ul li.navi-07 a,
#note header #global-navi nav ul li.navi-08 a {
    color: #ff55aa;
}

.fix-sns-btn {
    box-shadow: 0px 0px 15px 0px rgba(68, 68, 102, 0.2);
    width: 80px;
    line-height: 0;
    position: fixed;
    left: 0;
    bottom: 100px;
    z-index: 10;
}

.fix-sns-btn ul li a {
    display: block;
}

/* HEADING
--------------------- */
h2 {
    height: 330px;
    text-align: center;
}

h2 span {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    display: inline-block;
    line-height: 1;
    padding-top: 150px;
    position: relative;
}

h2 span::before {
    content: "";
    display: block;
    background: #444466;
    width: 100%;
    height: 3px;
    line-height: 1;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 750px) {
    h2 {
        height: 280px;
    }

    h2 span {
        font-size: 60px;
    }
}

/* FOOTER
--------------------- */
footer {
    background: #a9fff4;
    position: relative;
    z-index: 2;
}

footer .foot-ui {
    background: #fff;
    position: relative;
}

footer .foot-ui .foot-ui-content {
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (min-width: 751px) {
    footer .foot-ui .foot-ui-content {
        width: 1200px;
        padding: 25px 30px 20px;
    }

    footer .foot-ui .foot-ui-content .foot-logo p {
        display: inline-block;
    }

    footer .foot-ui .foot-ui-content .foot-logo p:not(:first-child) {
        margin-left: 30px;
    }

    footer .foot-ui .foot-ui-content .foot-sns {
        text-align: right;
        padding: 10px 0;
    }

    footer .foot-ui .foot-ui-content .foot-sns li {
        height: 56px;
        display: inline-block;
        margin-right: 15px;
    }

    footer .foot-ui .foot-ui-content .foot-sns li img {
        height: 100%;
        max-height: 100%;
        width: auto;
    }
}

@media screen and (max-width: 750px) {
    footer .foot-ui .foot-ui-content {
        width: 100%;
        padding: 18px 40px 10px;
    }

    footer .foot-ui .foot-ui-content .foot-logo p {
        display: inline-block;
    }

    footer .foot-ui .foot-ui-content .foot-logo p:not(:first-child) {
        margin-left: 25px;
    }

    footer .foot-ui .foot-ui-content .foot-sns {
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        left: 40px;
        bottom: -120px;
    }
}

footer .footer {
    margin: 0 auto;
}

footer .footer .foot-common-link a {
    text-decoration: underline;
    display: inline-block;
}

footer .footer .copyright {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1rem;
    line-height: 24px;
    margin: 20px 0;
}

footer .footer .copyright img {
    width: 90px;
    vertical-align: middle;
}

@media screen and (min-width: 751px) {
    footer .footer {
        width: 1200px;
        padding: 185px 30px 45px;
    }

    footer .footer .foot-common-link a {
        margin-right: 15px;
    }

    footer .footer .copyright {
        letter-spacing: 0.1rem;
        line-height: 24px;
        margin: 20px 0;
    }
}

@media screen and (max-width: 750px) {
    footer .footer {
        width: 100%;
        padding: 150px 40px 30px;
    }

    footer .footer .foot-common-link {
        text-align: left;
    }

    footer .footer .foot-common-link a {
        width: 40%;
        font-size: 20px;
        margin: 0 0 15px;
    }

    footer .footer .copyright {
        letter-spacing: -0.05rem;
        line-height: 24px;
        margin: 20px 0;
    }
}

.btn-more {
    background: #444467;
    border-radius: 40px;
    text-align: center;
    width: 450px;
    margin: 50px auto 0;
}

.btn-more a {
    font-size: 30px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    line-height: 80px;
    display: block;
}

/* PARALLAX
--------------------- */
.parallax_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1200px;
    max-width: 1600px;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.parallax_wrap .parallax_large {
    position: absolute;
    top: -50%;
    width: 100%;
    height: 1600%;
}

.parallax_wrap .parallax_large .p_inner {
    width: 100%;
    height: 100%;
    background: url("../images/shared/parallax_parts_large.png") repeat-y center top;
    background-size: 100% auto;
}

.parallax_wrap .parallax_small {
    position: absolute;
    top: -50%;
    width: 100%;
    height: 1800%;
}

.parallax_wrap .parallax_small .p_inner {
    width: 100%;
    height: 100%;
    background: url("../images/shared/parallax_parts_small.png") repeat-y center top;
    background-size: 100% auto;
}

.parallax_wrap .parallax_txt {
    position: absolute;
    top: -50%;
    width: 100%;
    height: 800%;
}

.parallax_wrap .parallax_txt .p_inner {
    width: 100%;
    height: 100%;
    background: url("../images/shared/parallax_parts_text.png") repeat-y center top;
    background-size: 100% auto;
}

@media screen and (max-width: 750px) {
    .parallax_wrap {
        min-width: 100%;
        max-width: 100%;
    }

    .parallax_wrap .parallax_large .p_inner {
        background: url("../images/shared/parallax_parts_large_sp.png") repeat-y center top;
        background-size: 100% auto;
    }

    .parallax_wrap .parallax_small .p_inner {
        background: url("../images/shared/parallax_parts_small_sp.png") repeat-y center top;
        background-size: 100% auto;
    }

    .parallax_wrap .parallax_txt .p_inner {
        background: url("../images/shared/parallax_parts_text_sp.png") repeat-y center top;
        background-size: 100% auto;
    }
}

/************************************
    fadein
************************************/
.fadein {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s linear, transform 1s ease-out;
}

.page404 {
    text-align: center;
}

@media screen and (min-width: 751px) {
    .page404 {
        padding: 185px 0;
    }
}

@media screen and (max-width: 750px) {
    .page404 {
        padding: 530px 0 500px;
    }
}

.page404 p small {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-weight: 300;
    display: block;
}

@media screen and (min-width: 751px) {
    .page404 p {
        margin: 0 0 30px;
    }

    .page404 p img {
        width: 230px;
        height: auto;
    }

    .page404 p small {
        font-size: 36px;
        margin: 15px 0 0;
    }
}

@media screen and (max-width: 750px) {
    .page404 p {
        margin: 0 0 55px;
    }

    .page404 p small {
        font-size: 54px;
        margin: 18px 0 0;
    }
}

.page404 span {
    display: inline-block;
}

@media screen and (min-width: 751px) {
    .page404 span {
        border-top: 4px solid #444466;
        padding-top: 38px;
        font-size: 14px;
    }
}

@media screen and (max-width: 750px) {
    .page404 span {
        border-top: 6px solid #444466;
        padding-top: 30px;
        font-size: 21px;
    }
}

.hidden {
    display: none;
    visibility: hidden;
}
