h2 span {
  display: inline-flex;
  align-items: center;
}

h2 span em {
  font-family: "M PLUS 1p", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 56px;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 751px) {
  h2 span em {
    font-size: 70px;
    letter-spacing: 0.05em;
  }
}


.sort-block {
  width: 100%;
  position: relative;
  z-index: 3;
}

@media screen and (min-width: 751px) {
  .sort-block {
    z-index: 11;
  }
}

.sort-block .sort-block--btn {
  width: 160px;
  height: 160px;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 30px;
}

.sort-block .sort-block--btn img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 751px) {
  .sort-block .sort-block--btn {
    width: 140px;
    height: 140px;
    right: 20px;
    bottom: 20px;
  }
}

.sort-block--container {
  background-color: #d5dce4;
  width: 100%;
  min-height: 815px;
  position: fixed;
  opacity: 0;
  transition: all .3s;
}
.sort-block.open .sort-block--container {
  opacity: 1;
}

@media screen and (max-width: 750px) {
  .sort-block--container {
    border-radius: 30px 30px 0 0;
    left: 0;
    bottom: 0;
    transform: translateY(815px);
  }
  .sort-block.open .sort-block--container {
    transform: translateY(0);
  }
}

@media screen and (min-width: 751px) {
  .sort-block--container {
    border-left: 2px solid #b6c2d0;
    width: 435px;
    height: 100vh;
    right: 0;
    top: 0;
    transform: translateX(435px);
  }
  .sort-block.open .sort-block--container {
    transform: translateX(0);
  }
}

@media screen and (min-width: 751px) {
  .sort-block--scroll {
    height: calc(100% - 200px);
    overflow-y: scroll;
  }
}


.sort-block--tit {
  background: #444466;
  border-radius: 30px 30px 0 0;
  height: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sort-block--tit span {
  color: #fff;
  font-size: 40px;
}

@media screen and (min-width: 751px) {
  .sort-block--tit {
    border-radius: 0;
    height: 200px;
  }
  .sort-block--tit span {
    font-size: 30px;
  }
}

.sort-block--tit .sort-block--btn {
  width: 51px;
  height: 51px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.sort-block--tit .sort-block--btn img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 751px) {
  .sort-block--tit .sort-block--btn {
    width: 32px;
    height: 32px;
    top: 20px;
    right: 20px;
  }
}

.sort-block--name {
  background: #b6c2d0;
  height: 80px;
  text-align: center;
  font-family: "M PLUS 1p", serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sort-block--name span {
  font-size: 30px;
}

@media screen and (min-width: 751px) {
  .sort-block--name {
    height: 50px;
  }
  .sort-block--name span {
    font-size: 24px;
  }
}

.sort-block--list {
  width: 100%;
  padding: 25px 5px 60px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

@media screen and (min-width: 751px) {
  .sort-block--list {
    width: 100%;
    padding: 0 8px 60px;
  }
}

.sort-block--list-btn {
  background: #a9aebe;
  flex-basis: 220px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin: 30px 12px 0;
  transition: all 0.2s ease-out;
}

@media screen and (min-width: 751px) {
  .sort-block--list-btn {
    flex-basis: 180px;
    border-radius: 20px;
    margin: 30px 10px 0;
  }
}

.sort-block--list-btn.is-active{
  background: #ff55aa;
}

.sort-block--list-btn span {
  font-size: 24px;
  line-height: 60px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 751px) {
  .sort-block--list-btn span {
    font-size: 18px;
    line-height: 40px;
  }

  .sort-block--list-btn:hover {
    background: #ff55aa;
  }
}


.card-block {
  margin-top: 80px;
  padding-bottom: 60px;
}

@media screen and (min-width: 751px) {
  .card-block {
    margin-top: 0;
  }
}

.card-block--item {
  width: 670px;
  margin: 60px auto 0;
}

@media screen and (min-width: 751px) {
  .card-block--item {
    width: 1000px;
    margin: 60px auto 0;
  }
}

.card-block--head {
  background-color: #00ffdd;
  height: 50px;
  padding: 0 30px;
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 751px) {
  .card-block--head {
    height: 40px;
  }
}

.card-block--head:before {
  content: "";
  font-size: 26px;
  color: #444466;
}

@media screen and (min-width: 751px) {
  .card-block--head:before {
    font-size: 22px;
  }
}


.card-block--item[data-cat="message"] .card-block--head:before{
  content: "MESSAGE";
}

.card-block--item[data-cat="casual"] .card-block--head:before{
  content: "CASUAL";
}

/* ステータス */

.card-block--item[data-status='done'] .card-block--head-status {
  background-color: #ff55aa;
  clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
  width: 270px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 751px) {
  .card-block--item[data-status='done'] .card-block--head-status {
    width: 230px;
    height: 40px;
  }
}
.card-block--item[data-status='done'] .card-block--head-status__text {
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
}

.card-block--item[data-status='done'] .card-block--head-status__text:before {
  content: url('../images/note/status_done.svg');
  display: inline-block;
  width: 33px;
  height: 33px;
}

@media screen and (min-width: 751px) {
  .card-block--item[data-status='done'] .card-block--head-status__text:before {
    width: 26px;
    height: 26px;
  }
}

.card-block--item[data-status='done'] .card-block--head-status__text span {
  padding-left: 12px;
  position: relative;
  display: inline-block;
}

@media screen and (min-width: 751px) {
  .card-block--item[data-status='done'] .card-block--head-status__text span {
    padding-left: 10px;
  }
}

.card-block--item[data-status='done'] .card-block--head-status__text span:before {
  content: "回答/解決済";
  display: inline-block;
  width: 100%;
  font-size: 24px;
}

@media screen and (min-width: 751px) {
  .card-block--item[data-status='done'] .card-block--head-status__text span:before {
    font-size: 18px;
  }
}


.card-block--title {
  background-color: #444466;
  padding: 30px 20px 25px 30px;
  position: relative;
}

@media screen and (min-width: 751px) {
  .card-block--title {
    width: 1000px;
    padding: 25px 40px 20px 40px;
  }
}

.card-block--title-text {
  font-size: 30px;
  color: #fff;
  line-height: 1.4;
}

@media screen and (min-width: 751px) {
  .card-block--title-text {
    font-size: 24px;
  }
}

.card-block--title-content {
  display: flex;
  align-items: stretch;
}

.card-block--title-date {
  margin: 23px 0 0;
  display: flex;
  justify-content: end;
}

@media screen and (min-width: 751px) {
  .card-block--title-date {
    margin: 16px 0 0;
  }
}

.card-block--title-date__item {
  color: #fff;
  opacity: 0.5;
  font-size: 22px;
  line-height: 1.25;
  padding-left: 20px;
}

@media screen and (min-width: 751px) {
  .card-block--title-date__item {
    font-size: 14px;
    line-height: 1;
    padding-left: 0;
  }
}

.card-block--title-date__item span {
  display: inline-block;
  position: relative;
}

@media screen and (min-width: 751px) {
  .card-block--title-date__item.update span {
    padding-left: 24px;
  }
}

.card-block--title-date__item span:before {
  content: "";
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 3px 8px;
  margin-right: 10px;
}

.card-block--title-date__item.publishe span:before {
  content: "掲載日";
}

.card-block--title-date__item.update span:before {
  content: "更新日";
}

.card-block--title-date__item span:empty:before,
.card-block--title-date__item span:empty:after {
  display: none !important;
}


.card-block--contents {
  background-color: #fff;
  padding: 50px 50px 60px;
}

@media screen and (min-width: 751px) {
  .card-block--contents {
    padding: 40px 40px;
  }
}

.card-block--contents-text {
  color: #444466;
  font-size: 24px;
  letter-spacing: -0.01em;
  line-height: 1.58;
  margin: 30px 0 0;
}

@media screen and (min-width: 751px) {
  .card-block--contents-text {
    font-size: 16px;
    line-height: 1.75;
    margin: 30px 0 0;
  }
}

.card-block--contents-img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 30px auto 0;
}

@media screen and (min-width: 751px) {
  .card-block--contents-img {
    margin: 32px auto 0;
  }
}

.card-block--contents-link {
  display: table;
  background: #444466;
  border-radius: 360px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 750px) {
  .card-block--contents-link {
    min-width: 360px;
    padding: 22px 90px 20px;
    margin: 40px auto 0;
  }
}

@media screen and (min-width: 751px) {
  .card-block--contents-link {
    min-width: 300px;
    padding: 18px 90px 16px;
    margin: 50px auto 0;
  }
}

.card-block--contents-link span {
  font-size: 28px;
  line-height: 1.2;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

@media screen and (min-width: 751px) {
  .card-block--contents-link span {
    font-size: 20px;
  }

  .card-block--contents-link.is-active,
  .card-block--contents-link:hover {
    background: #ff55aa;
  }
}

.card-block--contents-text:first-child {
  margin: 0;
}

.card-block--contents.omit .card-block--contents-text:first-child {
  margin: 0 0 50px;
}
@media screen and (min-width: 751px) {
  .card-block--contents.omit .card-block--contents-text:first-child {
    margin: 0 0 40px;
  }
}

.card-block--contents-img:first-child {
  margin: 0 auto;
}

.card-block--contents.omit .card-block--contents-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.card-block--contents.omit .card-block--contents-text:not(:first-child) {
  display: none;
}

.card-block--contents.omit .card-block--contents-img {
  display: none;
}

.card-block--contents.omit .card-block--contents-link {
  display: none;
}

.card-block--contents-acd {
  background-color: #d8d8eb;
  width: 100%;
  height: 70px;
  margin: 50px auto 0;
  pointer-events: auto;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-out;
}
.card-block--contents.omit .card-block--contents-acd {
  margin: 0 auto;
}

@media screen and (min-width: 751px) {
  .card-block--contents-acd {
    height: 60px;
    margin: 40px auto 0;
  }
  .card-block--contents.omit .card-block--contents-acd {
    margin: 0 auto;
  }
}

.card-block--contents-acd:hover {
  opacity: 0.6;
}

.card-block--contents-acd:before {
  content: "続きを読む";
  display: block;
  font-size: 28px;
  color: #444466;
  letter-spacing: 0.05em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 751px) {
  .card-block--contents-acd:before {
    font-size: 20px;
  }
}

.card-block--contents-acd.is-open:before {
  content: "閉じる";
}

.card-block--contents-acd .card-block--contents-acd__icon {
  width: 20px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

@media screen and (min-width: 751px) {
  .card-block--contents-acd .card-block--contents-acd__icon {
    width: 16px;
    height: 11px;
    right: 32px;
  }
}

.card-block--contents-acd.is-open .card-block--contents-acd__icon {
  transform: translateY(-50%) rotate(-180deg);
}

.icon-loading {
  cursor: pointer;
  padding: 20px 0 100px;
}

@media screen and (min-width: 751px) {
  .icon-loading {
    padding: 20px 0 102px;
  }
}

.icon-loading img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: block;
  animation: rotate_anime .8s linear 0s infinite;
}

@media screen and (min-width: 751px) {
  .icon-loading img {
    width: 87px;
    height: 87px;
  }
}

@keyframes rotate_anime {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}