@charset 'UTF-8';

/* ==============================
　　Arrows
============================== */
.slick-prev, .slick-next {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  box-sizing: border-box;
  text-indent: -9999px;
  position: absolute;
  z-index: 10;
}

.slick-prev:hover, .slick-next:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: .3s;
}
.slick-disabled {
  display: none !important;
}


/* ==============================
　　Dots
============================== */
.slick-dotted.slick-slider {
  /*margin-bottom: 30px;*/
}

.slick-dots {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li.slick-active button {
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}